.Chat {
    /* background-color: #f5f5f5; */
    margin-bottom: 800px;	
    border-radius: 4px;
    padding: 16px;
  }

  :root {
    
  }
  .Chat .chat_container {
    /* border: 1px solid var(--color-light-green);  */

    box-shadow: 0 0 10px -3px var(--color-light-green);
    border-radius: 15px;
    padding: 26px;
    max-width: 600px;
    margin: 50px auto 0 auto;
    min-height: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}
  
  .Chat .Message {
    display: flex;
    margin-bottom: 16px;
  }
  
  .Chat .Avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .Chat .Avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Chat .Content {
    margin-left: 12px;
    margin-right: 12px;
    max-width: 82%;

  }
  
  .Chat .Text {
    font-size: 14px;
    line-height: 1.4;
    background-color: var(--color-dark-29);
    padding: 8px;
    border-radius: 4px;
    color: var(--color-dark);
  }
  
  .Chat .Time {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
  }
  
  .Chat .align-right {
    /* justify-content: flex-end; */
    direction: rtl;
  }

  .Chat .chat__conversation-panel {
    background-color: var(--color-dark-29);
    border-radius: 12px;
    padding: 0 1em;
    margin: 0.5em 0 0;
  }
  
  .Chat  .chat__conversation-panel__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
  }
  
  .Chat .chat__conversation-panel__input {
    width: 100%;
    outline: none;
    color: var(--color-dark);
    font-size: 15px;
    background: transparent;
    border: 0;
    font-family: "Lato", sans-serif;
    resize: none;
    max-height: 65px;
    height: 3em;
    overflow-y: auto;
    white-space: pre-wrap;
    padding: 0;

    position: relative;
    top: 13px;
  }
  

  .Chat .chat__conversation-panel__button {
    background-color: transparent;
    height: 30px;
    width: 30px;

    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
  }
  
  @keyframes typingDots {
    0% {
      content: ".";
    }
    33% {
      content: "..";
    }
    66% {
      content: "...";
    }
  }
  .Chat .typing .Content {
    width: 67px;
  }
  
  .Chat .typing .Text::after {
    content: "";
    display: inline-block;
    animation: typingDots 1.5s infinite steps(3);
  }
  

  .Chat .hidden {
    display: none;
  }


  .Chat .chat_container::-webkit-scrollbar {
    width: 9px;
  }
  
  .Chat .chat_container::-webkit-scrollbar-track {
    background-color: var(--color-white);
    border-radius: 20px;
}

.Chat .chat_container::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 20px;
}

.Chat .chat_container::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
    cursor: pointer !important;
  }