.DownloadExtension {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    text-align: center;
    margin: 150px auto;
}

.DownloadExtension h1 {
    font-size: 42px;
    color: var(--color-dark);
}

.DownloadExtension p {
    color: var(--color-dark);
}

.DownloadExtension .Download_Video_Container {
    display: flex;
    gap: 40px;
}

.DownloadExtension .Download_Video_Container button {
    padding: 12px 37px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 40px;
    box-shadow: 0 0 6px -1px rgb(185, 185, 185);
}


.DownloadExtension .Download_Video_Container button:hover {
    transition: 0.2s;
    font-size: 18px;
    padding: 11.5px 34.5px;
}

.DownloadExtension .Download_Video_Container .btn_extension {
    /* background-color: #2ccd85; */
    background-color: var(--color-light-green);
    outline: 2px solid var(--color-light-green);
    color: var(--color-white);
    box-shadow: 0 0 7px 3px #4ce8a2;
    cursor: pointer !important;

}

.DownloadExtension .Download_Video_Container .btn_video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    outline: 1px solid rgb(203, 202, 202);
    background-color: var(--color-white);
    color: var(--color-light-dark);
}
