.Header .header_logo {
	width: 180px;
}
.Header {
    width: 100%;
    margin: 0 auto;
}

.Header .MuiPaper-root {
    background-color: var(--color-white) !important;
    color: var(--color-dark);
}

.Header .MuiButtonBase-root{
    color: var(--color-dark) !important;
    font-size: 20px;
}

.Header .active {
    font-weight: bold;
}

.Header a {
    color:  var(--color-dark);
}

.Header a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .Header {
        direction: rtl;
    }

    .Header .MuiButtonBase-root{
        font-size: 27px !important;
        -ms-flex-pack: start;
    }

}