.Header .header_logo {
	width: 180px;
    
}
.Header {
    width: 100%;
    margin: 0 auto;
}

.Header .MuiPaper-root {
    background-color: white !important;
    color: black;
}

.Header .MuiButtonBase-root{
    color: black !important;
}