.Header .header_logo {
	width: 180px;
    
}
.Header {
    width: 100%;
    margin: 0 auto;
}

.Header .MuiPaper-root {
    background-color: white !important;
    color: #252525;
}

.Header .MuiButtonBase-root{
    color: #252525 !important;
    font-size: 20px;
}