.Quiz {
	
    margin-bottom: 550px;
}


.Quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    }
    
    .Quiz  h1 {
    font-size: 40px;
    margin-bottom: 30px;
    }
    
    .Quiz  p {
    margin: 0;
    text-align: center;
    }

    .Quiz .time_left_p {
        margin-top: 20px;
        margin-bottom: -10px;
    }
    
    .Quiz  h2 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    }
    
    .Quiz  button {
    background-color: var(--color-light-green);
    color: white;
    font-size: 18px;
    height: 35px;
    width: 125px;
    margin: 10px 5px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.342);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }
    
    .Quiz button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }
    
    /* .Quiz progress {
    margin-top: 20px;
    width: 250px;
    height: 24px;
    }
     */
    .Quiz progress {
        margin: 20px;
        width: 250px;
        height: 24px;
        appearance: none;
        background-color: #eee;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) inset;
      }
      
      .Quiz progress::-webkit-progress-value {
        background-color: var(--color-light-green);
        border-radius: 12px;
        transition: width 0.2s ease-in-out;
      }
      
      .Quiz progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 12px;
      }
      
      .Quiz progress[value="10"]::-webkit-progress-value {
        width: 100%;
      }
      


      .Quiz button.correct {
        border: 3px solid green;
      }
      
      .Quiz button.incorrect {
        border: 3px solid red;
      }
   