body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow: unset !important;
    overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --save-words-lists-line-margin-bottom: 10px;
  --save-words-lists-line-padding-bottom: 10px;
}

.Layout[data-theme='dark-mode'] {
  --color-light-green: #2ccd85;
  --color-dark: #252525;
  --color-light-dark: #423f3fce;
  --color-white: #fff;
  
}

.Layout[data-theme='light-mode'] {
  --color-light-green: #2ccd85;
  --color-dark: #c9c9c9;
  --color-light-dark: #a1a1a1ce;
  --color-white: #252525;

}