.AdvantagesSection {
    margin-top: 130px;
    direction: rtl;
}

.AdvantagesSection .advantages_title {
    font-size: 40px;
    color: var(--color-dark);
    font-weight: bold;
    margin-bottom: 80px;
}

.AdvantagesSection .advantages_boxes {
    font-size: 18px;
    gap:  35px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } 

.AdvantagesSection .advantage_box {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    border-radius: 15px;
}
.AdvantagesSection .advantage_box img {
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 15px;
}